/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

html {
    font-family: Arial, Helvetica, sans-serif;
}

select {
    height: 45px;
}

.container-fluid {
    background-image: url(../img/japanese-shinkansen-bullet-train_916912-258.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
